/* navbar css start */
body{
    font-family: "SuisseIntl";
}
#navbar{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    display: inline-block;
    display: flex;
    position: sticky;
    background-color: white;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
    top: 0px;
    z-index: 10;
   
}
#logo{
    /* border: 1px solid blue; */
    display: flex;
    margin-left: 10px;
    
    
}
#logo>a>img{
    width: 175px;
    height: auto;
    margin-top: 5px;
    display: flex;
    padding: 5px;
   align-items: center;
   justify-content: center;

}
.text{
    /* border: 1px solid teal; */
    width: 55%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1.5%;
    cursor: pointer;
}
.text>a{
    text-decoration: none;
     color: black;
     position: relative;
    font-family:"SuisseIntl";
}
.text>a:after{
content: "";
position: absolute;
background-color:  rgb(182, 62, 10);
height: 1px;
width: 0;
left:0;
bottom: -8px;
}
.text>a:hover:after {
    width: 100%;
}
#tags>a{
    text-decoration: none;
     color: black;
     position: relative;
    font-family:"SuisseIntl";
}
#tags>a:after{
    content: "";
position: absolute;
background-color:  rgb(182, 62, 10);
height: 1px;
width: 0;
left:0;
bottom: -8px;
}
#tags>a:hover:after {
    width: 100%;
}


#checkout{
    /* border: 1px solid black; */
    display: flex;
    gap: 40px;
    margin-left: 10%;
    align-items: center;
}
img{
    width: 16px;
    height: 18px;
}
#searchbox>input{
    display: none; 
    width: 200px;
    height: 30px;
}
#searchbox{
display: flex;
width: 40%;
justify-content: center;
align-items: center;
font-family:"SuisseIntl";
font-size: 20px;
cursor: pointer;
}
#searchbox>img{
    width: 22px;
    height: 22px;
}
#second_nav{
    border: 1px solid gray;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    background-color: white;
    display: none;
    position: absolute;
}
#second_nav{
border-left: none;
border-right: none;
}
#tags{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    margin-left: 16%;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    
}
#tags>a{
    text-decoration: none;
    color: black;
    font-family:"SuisseIntl";
}
#navbar:hover #second_nav{
      display: block;
}

/* navbar css end */


#slider{
    /* border: 1px solid red; */
    width: 100%;
}

.slide{
    /* border: 1px solid black; */
    width: 90%;
    height: 450px;
    margin: auto;
}
.slide>img{
    width: 100%;
    height: 450px;
    margin: auto;
}
#right{
    background-color: transparent;
    border: none;
    position:absolute ;
    right: 20px;
    top: 250px; 
    cursor: pointer;
}
#right:after{
    content: "\2192";
    border: 0px;
    font-size: 40px;
}
#left{
    background-color: transparent;
    border: none;
    position:absolute ;
    left: 20px;
    top: 250px;
    cursor: pointer;
}
#left:after{
    content: "\2190";
    border: 0px;
    font-size: 40px;
}
#brands{
    /* border: 1px solid blue; */
    width:90%;
    /* height: 500px; */
    margin: auto;
    margin-top: 5px; 
    overflow: hidden;
}
.partner{
    /* border: 1px solid teal; */
    margin: auto;
    width: 70%;
    text-align: center;
}
.partner>h2{
    font-family:"SuisseIntl";
    font-size: 30px;
    font-weight: 550;
}
.partner>h3{
    font-size: 28px;
    line-height: 3px;
    font-weight: 300;
     color: gray;
     font-family:"SuisseIntl";
}
.carousel{
    /* border: 1px solid black; */
    width: 100%;
    height: 300px;
    position: relative;
    /* overflow: hidden; */
}
.brand_div{
    /* border: 1px solid blue; */
   width: 40%;
    height: 250px;
    margin: 20px;
    overflow: hidden;
}
.blogo{
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 20px;
}
.blogo>img{
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.brand_slider{
    display: flex;
    width: 120%;

}
#arrow_right{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    right: -0px;
    top: 115%;
}
#arrow_right:after{
    content: "\2192";
    border: 0px;
    font-size: 40px;
}
#arrow_left{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    left: -0px;
    top: 115%;
}
#arrow_left:after{
    content: "\2190";
    border: 0px;

    font-size: 40px;
}
#flex{
    display: flex;
    width: 100%;
   
}
#special{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: -30px;
}
#special>div{
    border: 1px solid gray;
    width: 42%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: auto;
}
#special>h2{
    font-weight: 400;
    font-size: 30px;
}
#offers{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 600px; */
}
#display{
    /* border: 1px solid teal; */
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}
#packages{
    /* border: 1px solid blue; */
    width: 170%;
    margin: auto;
    display: flex;
    gap: 3.33%;
    position: relative;
    /* overflow: hidden; */
}
#packages>div{
    /* border: 1px solid red; */
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
}
#packages>div>a>img{
  width: 100%;
  height: 400px;
  cursor: pointer;
}
#next{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    right: 15px;
    top: 190%;
}
#next:after{
    content: "\2192";
    border: 0px;
    font-size: 40px;
}
#prev{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    left: 15px;
    top: 190%;
}
#prev:after{
    content: "\2190";
    border: 0px;
    font-size: 40px;
}
.sale>h2{
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sale>h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 3px;
    cursor: pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .sale>button{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    padding: 13px 15px 10px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    transition: color .15s;
    border: 1px solid gray;  
}
.sale>button:hover{
    background-color: black;
    color: white;

}
#all{
margin: auto;
margin-top: 30px;
margin-bottom: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: block;
padding: 13px 15px 10px;
line-height: 1;
font-size: 1rem;
font-weight: 400;
color: #212529;
cursor: pointer;
text-transform: uppercase;
background-color: transparent;
transition: color .15s;
border: 1px solid gray;  
} 
#all:hover{
    background-color: black;
    color: white;
}
#Trend{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: -10px;
}
#Trend>div{
    border: 1px solid gray;
    width: 42%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: auto;
}
#Trend>h2{
    font-weight: 550;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#Trending{
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
}

#nex{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    right: 15px;
    top: 305%;
}
#nex:after{
    content: "\2192";
    border: 0px;
    font-size: 40px;
}
#pre{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    left: 15px;
    top: 305%;
}
#pre:after{
    content: "\2190";
    border: 0px;
    font-size: 40px;
}
#fixed{
    /* border: 1px solid black; */
    width: 90%;
    padding: 10px;
    /* height: 500px; */
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}
#newtrend{
    /* border: 1px solid blue; */
    width: 200%;
    /* height: 500px; */
    display: flex;
    margin: auto;
    gap: 10px;
    position: relative;
}
.new{
    /* border: 1px solid blue; */
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 480px;
    text-align: center;
    cursor: pointer;
    
}
.new>img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 300px;
    
}
.quick{
    display: block;
    margin: auto;
    margin-top: -70%;
    width: 90%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 13px 15px 10px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
    display: none;
    position: relative;
    background-color: white;
    opacity: 0.5;
    transition: color .15s;
    z-index: 5;
    border: 1px solid gray;
}
.new:hover .quick{
    border: 1px solid black;
    color: black;
    opacity: 0.7;
    font-weight: 600;
    display: block;
}
.new>h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
}
.new>p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      color: gray;
      line-height: 10px;
      font-size: 16px;
}
.new>span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

}
#see_more{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        padding: 13px 15px 10px;
        line-height: 1;
        font-size: 1rem;
        font-weight: 400;
        color: #212529;
        cursor: pointer;
        text-transform: uppercase;
        background-color: transparent;
        transition: color .15s;
        border: 1px solid gray;  
}
#see_more:hover{
    background-color: black;
    color: white;
}
.heart{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    margin-top: -19%;
    margin-left: 4.5%;
    /* left: 15px;
    top: 305%; */
}
.heart:after{
    content: "\2661";
    border: 0px;
    font-size: 30px;
}
.heart:hover {
    color: red;
}
.heart:hover +.like{
    display:block;
}
.like{
    border: 1px solid black;
    width: 30%;
    background-color: white;
    margin: auto;
    padding: 3px;
    display: none;
    position: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -140%;
    margin-left: 99%;
}
#commu{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: -10px;
}
#commu>div{
    border: 1px solid gray;
    width: 39%;
    
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin: auto;
}
#commu>h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    font-size: 30px;
}
#post{
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    margin-top: -7px;
}

#rightone{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    right: 10px;
    top: 405%;
}
#rightone:after{
    content: "\2192";
    border: 0px;
    font-size: 40px;
}
#leftone{
    background-color: transparent;
    border: none;
    position:absolute ;
    cursor: pointer;
    left: 10px;
    top: 405%;
    
}
#leftone:after{
    content: "\2190";
    border: 0px;
    font-size: 40px;
}
#show{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 500px;
    padding: 2px;
    overflow: hidden;
   
}
#showall{
   /* border: 1px solid blue; */
   width: 200%;
   height: 500px;
   display: flex;
   gap: 10px;
   
}
.posts{
    /* border: 1px solid teal; */
    width: 24.2%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: 320px;
    padding: 3px;
    margin-top: 10px;
}
.posts>img{
    width: 80%;
    
    display: block;
    height: 100%;
    margin: auto;
}
#viewall{
    margin: auto;
    margin-top: -120px;
    margin-bottom: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 13px 15px 10px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    transition: color .15s;
    border: 1px solid gray;  
}
#viewall:hover{
    background-color: black;
    color: white;
}
#app{
    /* border: 1px solid red; */
    width: 100%;
    height: 850px;
    margin-top: -30px;
    background-color: rgb(248,247,246);
   
}
#download{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    /* height: 300px; */
    display: flex;
    gap: 30px;
}
#download>div{
    /* border: 1px solid teal; */
    width: 30%;
    height: 300px;
    margin: auto;
}
.set{
    text-align: center;
}
.set>h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 50px;
    font-weight: 500;
}
.set>p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
     color: black;
     font-weight: 500;
     line-height: 25px;
}
.set>a{
    width: 50%;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    font-size: 16px;
    margin: auto;
    margin-top: 30px;
}
#mode{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    height: 600px;
    display: flex;
    gap: 30px;
}
#mode>div{
    /* border: 1px solid teal; */
    width: 30%;
    /* height: 300px; */
    margin: auto;
    margin-top: 10px;
}
#mode>div:first-child>img{
    width: 80%;
    display: block;
    height: auto;
    margin: auto;
}
#mode>div:last-child>img{
    width: 140%;
    height: auto;
    display: block;
    margin-left: -80px;
}
#followlinks{
    /* border: 1px solid red; */
    padding: 2px;
    margin: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     width: fit-content;
     margin-top: 40px;
     font-weight: 500;
     letter-spacing: .5px;
}
/* .FOOTER CSS START */
.line{
    width: 100%;
    border: 1px solid gray;
    margin-top: 60px;
    border-left: none;
    border-bottom: none;
    border-right: none;
}

#footer{
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* gap: 5px; */
}
#footer>div{
    /* border: 1px solid teal; */
    height: 290px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
#footer>div>h3{
    margin-left: 5px;
    letter-spacing: 3px;
    font-weight: 500;
}
#footer>div>p{
    font-size: 18px;
    color: gray;
    margin-left: 5px;
    line-height: 10px;
}
#footer>div .a{
    line-height: 25px;
}
#mail{
    margin: 0px;
    padding: 0px;
}
#mail{
    width: 90%;
    height: 40px;
    display: block;
    margin: auto;
    border-left: none;
    border-right: none;
    border-top: none;
}
#sig{
    /* border: 1px solid red; */
    width: 90%;
    height: 40px;
    margin-top: 20px;
    display: flex;
}
#sig>div{
    border: 1px solid black;
    width: 6%;
    height: 10px;
    cursor: pointer;
    margin: auto;
    padding: 2px;
}
#wo{
    border: 1px solid black;
    background-color: black;
    width: 50%;
    height: 7px;
    margin: auto;
}
#me{
    border: 1px solid black;
    background-color: black;
    width: 50%;
    height: 7px;
    margin: auto;
    display: none;
}
#sig>h3{
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#mit{
    margin: auto;
    width: 80%;
    margin-top: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 13px 15px 10px;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
    color: #212529;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    transition: color .15s;
    border: 1px solid gray;  
}
#mit:hover{
    background-color: black;
    color: white;
} 
.lineend{
    width: 100%;
    border: 1px solid gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
#final{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Mlogo{
    /* border: 1px solid blue; */
    width: 15%;
    height: 60px;
    display: flex;
    margin-left: 20px;
}
#Mlogo>img{
    display: block;
    width: 20%;
    margin: auto;
    margin-left: 0px;
    height: 70%;
}
#Mlogo>p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#social{
    /* border: 1px solid teal; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;

}
#social>a>img{
    width: 100%;
    height: auto;
}
#social>a:nth-child(1){
    width: 10%;
  }
  #social>a:nth-child(2){
    width: 10%;
  }
#social>a:nth-child(3){
  width: 15%;
}
#social>a:nth-child(4){
    width: 15%;
  }
  #social>a:nth-child(5){
    width: 15%;
  }
  #social>a:nth-child(6){
    width: 15%;
  }
/* FOOTER END */